<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/link">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Link route page</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <table class="table table-dark">
    <tbody>
      <tr>
        <th scope="row">Age:</th>
        <td>4.6 Billion Years</td>
      </tr>
      <tr>
        <th scope="row">Number of Planets:</th>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">Number of Dwarf Planets:</th>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Number of Moons:</th>
        <td>181</td>
      </tr>
      <tr>
        <th scope="row">Number of Dwarf Planets:</th>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">Number of Asteroids:</th>
        <td>552,894</td>
      </tr>
      <tr>
        <th scope="row">Number of Comets:</th>
        <td>3,083</td>
      </tr>
      <tr>
        <th scope="row">Diameter:</th>
        <td>9.09 billion km</td>
      </tr>
    </tbody>
  </table>
</div>
