<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/link">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<main role="main" class="container">

    <h1>Passing data into the chart directly</h1>
    <app-chart [data]="[1, 2, 3]"></app-chart>
    <app-chart [data]="[4, 5, 6]"></app-chart>

    <h1>Passing data into the chart directly from parent data</h1>
    <app-chart [data]="datasets[0]"></app-chart>
    <app-chart [data]="datasets[0]"></app-chart>

    <h1>Passing data into the chart from parent datasets with *ngFor</h1>
    <div *ngFor="let d of datasets">
      <app-chart [data]="d"></app-chart>
    </div>

    <h1>Passing data into the chart from parent datasets with *ngFor in bootstrap grid</h1>
    <div class="container">
    <div class="row">
      <div class="col-sm" *ngFor="let d of datasets">
          <app-chart [data]="d"></app-chart>
      </div>
    </div>
  </div>
</main>

<hr>

<div class="container">

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info">
        This is a info alert—check it out!
      </div>
    </div>
  </div>
</div>